---
import Layout from '../layouts/Layout.astro';
---

<Layout title="San Valentin">
  <main class="grid place-items-center min-h-screen p-8">
    <div class="max-w-4xl w-full bg-white shadow-lg p-4 rounded-md border-l-4 border-l-pink-300">
      <div class="flex flex-col flex-nowrap justify-between items-center md:flex-row">
        <div>
          <h1 class="text-xl">Para [inserte nombre]</h1>
          <p class="mt-4 text-pretty text-gray-800">
            Mi amor, <br/><br/>Qué mejor día que hoy para expresarte cómo me siento. Eres la persona que me ha amado durante los
            momentos más hermosos de mi vida y eres la que ha estado ahí para apoyarme en todo. Hoy te quiero desear un
            feliz día de San Valentín, a ti que eres parte esencial de mi felicidad. Sin ti me sentiría vacío. Gracias
            por amarme como me amas, por siempre darme lo mejor de ti, por demostrarme que nadie como tú me hará feliz.
            No existe un amor más fuerte que el nuestro.<br/><br/>Feliz día mi amor.
          </p>
        </div>
        <img src="/heart.svg" alt="" class="fill-pink-400 md:w-72" />
      </div>
    </div>
  </main>
</Layout>
